<footer class="clearfix text-white text-center text-lg-start" style="background-color: #338F8E">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-white">Facebook</a>
          </li>
          <li>
            <a href="#!" class="text-white">WhatsApp</a>
          </li>
          <li>
            <a href="#!" class="text-white">Twitter</a>
          </li>
          <li>
            <a href="#!" class="text-white">LinkedIn</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 shadow-lg" style="background-color: #338F8E">
    © 2020 Copyright:
    <a class="text-white" href="https://www.academysonatel.com/">Sonatel Academy</a>
  </div>
  <!-- Copyright -->
</footer>