
<div class="row">
    <div class="col-sm-4 p-3">
        <h3 class="text-center">Liste des </h3>
        <hr>
        <table class="table table-bordered">
            <thead class="text-center">
              <tr>
                <th scope="col">Libellé</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody class="">
              <tr>
                <td>Développeur Back</td>
                <td>
                    <a [routerLink]="[]" class=""> Editer -</a>
                    <a [routerLink]="[]" class=""> Supprimer</a>
                </td>
              </tr>
              <tr>
                <td>Développeur Front</td>
                <td>
                    <a [routerLink]="[]" class=""> Editer -</a>
                    <a [routerLink]="[]" class=""> Supprimer</a>
                </td>
              </tr>
              <tr>
                <td>Développeur Full-stack</td>
                <td>
                    <a [routerLink]="[]" class=""> Editer -</a>
                    <a [routerLink]="[]" class=""> Supprimer</a>
                </td>
              </tr>
              <tr>
                <td>Intégrateur Web</td>
                <td>
                    <a [routerLink]="[]" class=""> Editer -</a>
                    <a [routerLink]="[]" class=""> Supprimer</a>
                </td>
              </tr>
              <tr>
                <td>Designer Web</td>
                <td>
                    <a [routerLink]="[]" class=""> Editer -</a>
                    <a [routerLink]="[]" class=""> Supprimer</a>
                </td>
              </tr>
              <tr>
                <td>Référent Digital</td>
                <td>
                    <a [routerLink]="[]" class=""> Editer -</a>
                    <a [routerLink]="[]" class=""> Supprimer</a>
                </td>
              </tr>
              <tr>
                <td>Community Manager</td>
                <td>
                    <a [routerLink]="[]" class=""> Editer -</a>
                    <a [routerLink]="[]" class=""> Supprimer</a>
                </td>
              </tr>
              <tr>
                <td>Data Scientist</td>
                <td>
                    <a [routerLink]="[]" class=""> Editer -</a>
                    <a [routerLink]="[]" class=""> Supprimer</a>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
