<div class="container form-container rounded">
    <form class="">
        <fieldset>
          <div class="form-group row p-3">
            <label for="Libellé">Libellé</label>
            <div class="col-sm-8 ml-auto">
                <input type="text" class="form-control" id="Libellé"  placeholder="Saisir un Libellé">
            </div>
          </div>
          <div class="form-group row p-3">
            <label for="presentation">Présentation</label>
            <div class="col-sm-8 ml-auto">
                <textarea class="form-control" id="presentation" rows="3"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleTextarea">Compétences</label>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                Créer une base de données
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                Développer le back-end d'une application
              </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="">
                  Développer le front-end d'une application
                </label>
              </div>
          </div>
          <div class="form-group row p-3">
            <label for="reference">Programme</label>
            <div class="col-sm-8 ml-auto">            
                <input type="file" class="form-control-file" id="reference">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleTextarea">Critères d'évaluation</label>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                Un portfolio d'un projet réalisé tout au long de la formation
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                Soutenir devant un jury  de Professionnels
              </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="">
                  Produire un document mémoire
                </label>
              </div>
          </div>
          <div class="form-group">
            <label for="exampleTextarea">Critères d'admission</label>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                Un portfolio d'un projet réalisé tout au long de la formation
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                Soutenir devant un jury  de Professionnels
              </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="">
                  Produire un document mémoire
                </label>
              </div>
          </div>
              <button type="submit" class="btn btnColor float-right">Soumettre</button>
        </fieldset>
      </form>
</div>